@import
url(https://fonts.googleapis.com/css?family=Abril+Fatface|Quicksand);


body {
  background-color: black;
  color: white;
  text-shadow: 3px 3px black;
  height: 100vh;
  min-width: 100vh;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0em 2em .5em 4em;
  text-transform: uppercase;
  font-family: 'Abril', sans-serif;
}

header {
  display: flex;
  align-items: flex-end;
  background-image: url("images/lee-campbell-242267.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15em;
  font-family: 'Fatface', serif;
  margin: 0;
  width: 100%;
}
section {
  display: flex;
  /*flex-flow: row;*/
  justify-content: center;
  margin: 0em 2em .5em 10em;

  /*align-items: baseline;*/
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  width: 100%;
}

img {
  height: 10em;
  width: 10em;
}

li {
  margin: .5em;
  display: flex;
  flex-flow: row;
}

a {
  display: flex;
  flex-flow: wrap;
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
}

span {
  font-size: 1.2em;
}

input {
  width: 300px;
  height: 2.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding-left: .75em;
  background-color: transparent
}

input:focus{
  border: none
}

audio {
  width: 380px;
  border-radius: 10px;
}

button {
  height: 3em;
  width: 3em;
  border-radius: 15px;
  background-image: url("images/button2.jpg");
  background-size: contain;
  position: relative;
  top: 8px;
  margin
}
