@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Quicksand);

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100vh;
    background-image: url("images/simone.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 0 150px;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0em 0.5em .5em 1em;
    text-transform: uppercase;
    font-family: 'Abril Fatface', sans-serif;
    padding-right: 16em;
}

header {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15em;
    font-family: 'Vast Shadow';
    margin: 0;
    width: 100%;
}
section {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    width: 100%;
}

img {
    height: 10em;
    width: 10em;
    border-radius: 7px;
}

li {
    margin: .5em;
    display: flex;
    flex-basis: 25%;
    flex-flow: row;
}

a {
    display: flex;
    flex-flow: wrap;
}

div.artistAndTrack {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
}

span {
    font-size: 1.2em;
    color: #d3d3d3;
    font-family: 'Quicksand', serif;
}

input {
    width: 20em;
    height: 2.5em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-left: .75em;
    margin-right: 10em;
}

input:focus {
    border: none;
}

audio {
    width: 17em;
    border-radius: 15px;
    margin-top: 2.5em;
}

.results {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.player {
    display: flex;
    flex-flow: column;
}

.favoriteList {
    margin: 1em;
}

button {
    margin: 1em;
}

#music {
    display: none;
}

#audioplayer {
    border: solid;
    position: fixed;
    padding-right: 2em;
}

#pButton {
    height: 3em;
    width: 3em;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
    padding-bottom: 1px;
}

.play {
    background: url("images/play-512.png") no-repeat;
}

.pause {
    background: url("images/pause-512.png") no-repeat;
}

#audio-timeline {
    width: 400px;
    height: 20px;
    background: grey;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
}

#playhead {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 255, 196, 0.82);
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    h1 {
        padding-top: 1em;
        text-align: center;
        margin: 0 0 1em 0em;
        position: relative;
        padding-bottom: 1em;
        padding-right: 1em;
    }

    #audioplayer {
        position: fixed;
        padding-right: 1em;
        width: 21em;
        height: 3em;
    }
    #audio-timeline {
        width: 17em;
        height: 20px;
        background: grey;
        margin-top: 20px;
        float: left;
        border-radius: 15px;
    }

    section {
        display: flex;
        justify-content: center;
        margin: 1em;
    }
}
