body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100vh;
  background-image: url("images/simone.jpg");
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: 0 150px;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
}

header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-image: url("images/lee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15em;
  font-family: 'Vast Shadow';
  margin: 0;
  width: 100%;

}
section {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  width: 100%;
}

img {
  height: 10em;
  width: 10em;
  border-radius: 7px;
}

li {
  margin: .5em;
  display: flex;
  flex-basis: 25%;
  flex-flow: row;
}

a {
  display: flex;
  flex-flow: wrap;
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
}

span {
  font-size: 1.2em;
  color: #d3d3d3;
}

input {
  width:20em;
  height: 2.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding-left: .75em;
}

input:focus {
  border: none;
}

audio {
  width: 17em;
  border-radius: 15px;
}

<<<<<<< HEAD
button {
  height: 3em;
  width: 3em;
  border-radius: 15px;
  background-image: url("images/button2.jpg");
  background-size: contain;
  position: relative;
  top: 8px;
  margin
}


.results {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
